<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/iview.css">
    <link rel="stylesheet" type="text/css" href="/css/element.css">
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/iview.js"></script>
    <script type="text/javascript" src="/js/element.js"></script>
    <script type="text/javascript" src="/js/axios.js"></script>
    <script type="text/javascript" src="/js/qs.js"></script>
</head>
<body>
    <div id="head">
        <div>
            <i-Menu>
                <submenu>
                    <template slot="title">
                        <Icon type="ios-paper"></Icon>
                        内容管理
                    </template>
                    <Menu-Item>文章管理</Menu-Item>
                    <Menu-Item>评论管理</Menu-Item>
                    <Menu-Item>举报管理</Menu-Item>
                </submenu>
            </i-Menu>
        </div>
    </div>
</body>
<script>
    var head = new Vue({
        el: '#head',
        data: {

        },
        methods: {},
        created() {

        }
    })
</script>
</html>